h1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 500;
}

.curiosidades{
    background-color: #EDECEC;
    border-radius: 20px;
}

body{
    font-family: "Poppins", sans-serif; 
}

p{
    font-size: 17px;
}